body {
    /* padding: 0;
    margin: 0; */
    font-family: verdana;
    text-align: center;
    /* background-image: url("../flat-design-whiteboard-in-wooden-cabinet-background-free-vector.jpg"); */
}

#timerSection{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 40%;
    /* padding-top: 2%;
    padding-bottom: 2%; */
    /* height: 40vh; */
    /* background-color: rgb(0, 61, 0); */
}

/* flip card */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 180px;
    height: 180px;
    margin: 10px;
    perspective: 1000px;
    padding: 10px 15px;
    align-items: center;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}

.card-back {
    transform: rotateY(180deg);
}

/* timer */

.digit {
    font-size: 60px;
    color: #000;
}

.txt {
    font-size: 15px;
    /* color: #fffcd6; */
}

#buttons {
    margin-top: 50px;
}

.btn {
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
    color: white;
    font-weight: 500;
}

#reset {
    background-color: #c91400;
}

