body {
    /* padding: 0;
    margin: 0; */
    font-family: verdana;
    text-align: center;
    /* background-image: url("../flat-design-whiteboard-in-wooden-cabinet-background-free-vector.jpg"); */
}
