body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

html body {
    background-image: url("../Images/Backgrounds/TTTBkgrndRM.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00758f;
    /* height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px; */
    /* overflow-x: hidden; */
    /* display: grid; */
    /* grid-template-rows: 1fr auto; */
    
}

#navAppNameImg {
    width: 200px;
    height: auto;
}

#navAppNameImg:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#homeBtn {
    background-image: url('../Images/Buttons/TTTHomeBtn.png');
    width: 60px;
    height: 60px;
    background-size: contain; /* Ensure the image fits within the button */
    background-position: center;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: inline-block; /* Ensure the element behaves like a block-level element */
}

#homeBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}
#answer {
    font-size: 20px;
    padding: 10px;
}
#submit {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
}
#finalResult {
    font-size: 20px;
    font-weight: bold;
}
#timer {
    font-size: 18px;
    margin-top: 10px;
}