body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

html body {
    background-image: url("../Images/Backgrounds/TTTBkgrndRM.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00758f;
    /* height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px; */
    /* overflow-x: hidden; */
    /* display: grid; */
    /* grid-template-rows: 1fr auto; */
    
}

#gameTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 64px;
    padding-top: 2%;
}

.container {
    background-color: rgba(255, 255, 255, 0.614);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#timerContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 9.5%;
    padding-bottom: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#scoreContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 8%;
    padding-bottom: 8%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#previousScoreContainer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 8%;
    padding-bottom: 8%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#answer {
    padding: 5px 15px;
    border-radius: 15px;
}

#submit {
    width: 100px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
    color: white;
    font-weight: 700;
    /* display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff; */
    background-color: #00a0c4;
    /* border: none;
    border-radius: 10px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

#submit:hover {background-color: #006f88}

#submit:active {
  background-color: #006f88;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#reset {
    width: 150px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
    color: white;
    font-weight: 700;
    background-color: #e9388b;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#reset:hover {background-color: #ab1364}

#reset:active {
  background-color: #e9388b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#navAppNameImg {
    width: 200px;
    height: auto;
}

#navAppNameImg:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#homeBtn {
    background-image: url('../Images/Buttons/TTTHomeBtn.png');
    width: 60px;
    height: 60px;
    background-size: contain; /* Ensure the image fits within the button */
    background-position: center;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: inline-block; /* Ensure the element behaves like a block-level element */
}

#homeBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#question {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#result {
    font-size: 20px;
    font-weight: bolder; 
    margin-top: 20px;
}

#answer {
    font-size: 20px;
    padding: 10px;
}
#submit {
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
#finalResult {
    font-size: 20px;
    font-weight: bold;
}
#timer {
    font-size: 18px;
    margin-top: 10px;
}